.juejin-collection-wrapper {
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 51px;
	width: 240px;
	transition: all .5s;
	&.hidden {
		transform: translateX(-100%);
	}
	.collection-list {
		background-color: #fafafa;
		color: rgb(15, 46, 71);
		font-size: 14px;
		cursor: pointer;
		.collection-item {
			border: 1px solid #d9d9d9;
			border-bottom: none;
			&:last-child {
				border-bottom: 1px solid #d9d9d9;
			}
			.header {
				display: flex;
				align-items: center;
				height: 30px;
				padding-left: 10px;
				.icon {
					display: inline-flex;
					width: 14px;
					height: 14px;
					transition: all .5s;
				}
				.tag-name {
					margin-left: 10px;
				}
			}
			.content {
				background-color: #fff;
				padding: 10px;
				border-top: 1px solid #d9d9d9;
				transition: all 0.5s;
			}
		}
	}
}