.toggle-visible-area {
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: -22px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(242, 245, 247);
  box-shadow: rgba(118, 118, 118, 0.11) 2px 0px 5px 0px;
  cursor: pointer;
}
